@CHARSET "ISO-8859-1";

body {
	background-image: url("Gray-y.jpg");
	margin: 0 auto;
	font-size: 1.3em;
	color: white;
	font-family: verdana, Sans-serif;
	max-width: 700px;
}
body div {
    text-align: center;
}

.castle-bg {
	opacity: 0.2;
}

input[type=checkbox], input[type=radio] {
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    margin: 0 0.25em 0 0;
    padding: 0;
    width: 1.25em;
    height: 1.25em;
    -webkit-border-radius: 0.25em;
    vertical-align: text-top;
}
input[type=submit]:disabled{
    background: -webkit-gradient(linear, left top, left bottom, from(#a77), to(#677));
    border: 2px solid #c77;
    color: #8C6D42;
}
input[type=submit], .btnBack {
    width: auto;
    padding: 0.25em 1em;F
    line-height: 1.5em;
    background: -webkit-gradient(linear, left top, left bottom, from(#A1845C), to(#8C6D42));
    border: 3px solid #59401C;
    text-shadow: 0 0 2px #300;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 3px #000;
    margin-right: 0.5em;
    color:white;
}
input, textarea, select {
    border: 1px solid #111;
    padding: 0.5em;
    font-size: 15px;
    line-height: 1.2em;
    width: 80%;
    background: #8C6D42;
    color: #fff;
    font-family: helvetica, sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(#A88B62), to(#7A6446));
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #333;
    width: 200px;
    
    /*display: flex;*/
    align-items: right;
}
